.circleBtn {
    display: inline;
    height:
}

.selected img{
    border: 4px solid #008cba;
}

 .leftArrow, .rightArrow {
     display: inline;
 }

 .displayImage img {
 	max-height: 400px;
 }

.searchStatus {
 	background-color: white;
    margin-top: 25%;
    margin-bottom: 25%;
    margin-left: 50%;
    margin-right: 50%;
 }

 .searchButton input {
     width: 140px;
 }

 .searchButton input, .searchBtn {
     height: 3em;
 }

 .searchButton {
     margin-bottom: 2em;
 }

 .displayImage {
     padding: 2em;
     text-align: center;
 }

 .nav {
     text-align: center;
 }

 .displayInfo {
     padding: 2em;
 }