.circleBtn {
    border-radius: 50%;
    background-color: grey;
    width: 25px;
    height: 25px;
    display: inline-block;
}
 .leftArrow, .rightArrow {
     display: inline;
 }
 .displayImage img {
 	max-height: 400px;
 }